@model IEnumerable<CustomerSupportManagementSystemApplication.Models.Users>

<h2>Manage Users</h2>
<a href="@Url.Action("CreateUser", "Home",new { area = "Admin" })" class="btn btn-link">Create User Account</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@user.CreatedDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
<link rel="stylesheet" href="~/css/TableStyles.css" />